@keyframes swingRgiht {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes swipeRightOverlay {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes rotateLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideRight {
  from {
    margin-left: 0px;
    margin-right: 0px;
  }

  to {
    margin-left: 10px;
    margin-right: -10px;
  }
}

[data-aos="swing-right"] {
  animation-name: swingRight;
}
