.container {
  width: 98vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.grid-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#base-grid-container {
  background: url("../assets/images/home-page/banner-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-color: var(--dark-grey);
}

.grid {
  float: left;
  width: calc((98vw - 6px) / 7);
  height: 100%;
  border-right: 1px solid rgba(141, 134, 134, 0.3);
  overflow: hidden;
  text-align: center;
}

.grid-last {
  border-right: none;
}

.grid-letters {
  display: block;
  font-family: "Bebas Neue", cursive;
  font-size: 228px;
  position: relative;
  top: 65%;
  height: 24px;
  color: #383838;
}

.grid-letters.row-2 {
  margin-left: -40vw;
}

.grid-letters.row-3 {
  margin-left: -80vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row .col-0 {
  width: 0px;
}
.row .col-1 {
  width: calc((98vw) / 7);
}

.row .col-2 {
  width: calc(((98vw) / 7) * 2);
}

.row .col-3 {
  width: calc(((98vw) / 7) * 3);
}

.row .col-4 {
  width: calc(((98vw) / 7) * 4);
}

.row .col-5 {
  width: calc(((98vw) / 7) * 5);
}

.row .col-6 {
  width: calc(((98vw) / 7) * 6);
}

/* for devices below 1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: auto;
  }
}

/* media query for mobile devices */
@media screen and (max-width: 767px) {
  .grid {
    width: calc((98vw) / 6);
  }

  .grid-sm-last {
    border-right: none;
  }

  .grid-letters {
    font-size: 60px;
  }

  .row .col-sm-0 {
    width: 0px;
  }
  .row .col-sm-1 {
    width: calc((100vw - 3px) / 6);
  }

  .row .col-sm-2 {
    width: calc(((100vw - 3px) / 6) * 2);
  }

  .row .col-sm-3 {
    width: calc(((100vw - 3px) / 6) * 3);
  }

  .row .col-sm-4 {
    width: calc(((100vw - 3px) / 6) * 4);
  }

  .row .col-sm-5 {
    width: calc(((100vw - 3px) / 6) * 5);
  }

  .row .col-sm-6 {
    width: calc(((100vw - 3px) / 6) * 6);
  }
}

/* media query for tablets */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .row .col-md-0 {
    width: 0px;
  }
  .row .col-md-1 {
    width: calc((98vw) / 7);
  }

  .row .col-md-2 {
    width: calc(((98vw) / 7) * 2);
  }

  .row .col-md-3 {
    width: calc(((98vw) / 7) * 3);
  }

  .row .col-md-4 {
    width: calc(((98vw) / 7) * 4);
  }

  .row .col-md-5 {
    width: calc(((98vw) / 7) * 5);
  }

  .row .col-md-6 {
    width: calc(((98vw) / 7) * 6);
  }
}
