header {
  margin-top: 28px;
}

header .header-container {
  padding-left: 0;
  padding-right: 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-container .logo {
  padding-right: 20px;
  text-align: right;
}

header .header-container .button-div {
  padding-left: 20px;
  height: 90%;
  display: flex;
  align-items: center;
}

header .container .menu {
  z-index: 12;
  border: 0;
  background: none;
  line-height: 0;
  color: #ffffff;
  cursor: pointer;
}

header .container .menu-close {
  position: fixed;
}

header .container .menu p {
  display: inline-block;
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 7.42px;
  text-transform: uppercase;
  margin: 0;
}

header .container .menu div.toggle {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  padding: 0;
}

header .container .menu div.toggle span:first-of-type {
  margin-bottom: 2px;
}

header .container .menu div.toggle span {
  display: inline-block;
  position: relative;
  width: 20px;
  border-top: 2px solid #ffffff;
}

header .container .menu div.toggle.rotate span:nth-child(1) {
  transform: rotate(45deg);
  top: 3px;
}

header .container .menu div.toggle.rotate span:nth-child(2) {
  transform: rotate(136deg);

  top: -4px;
}

header .container nav {
  display: none;
  position: fixed;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  background-image: url(../assets/images/home-page/banner-bg.jpg);
  background-size: cover;
  z-index: 11;
}

header .container nav.d-nav {
  display: block;
  animation-name: revealFromLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; /* stops animation from getting to initial point */
  animation-timing-function: linear; /* smooths the animations at breakpoints */
}

header .header-container nav .header-base {
  position: absolute;
  top: 0;
  left: -5px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

header .header-container nav .header-base .col-1 {
  border-right: 1px solid rgb(83, 82, 82);
}

header .header-container nav .col-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .header-container nav ul {
  list-style: none;
  padding-left: 0;
}

header .header-container nav ul li {
  margin-bottom: 22px;
  animation-name: reveal;
  animation-duration: 2.5s;
}

header .header-container nav ul li a {
  text-decoration: none;
  font-family: BigCaslon;
  font-size: 34px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: rgb(83, 82, 82);
}

header .header-container nav ul li a:hover {
  color: #fcb542;
}

header .header-container nav p {
  margin: 27px 0 0;
  padding-right: 10px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
  animation-name: reveal;
  animation-duration: 2.5s;
}

/* HOME PAGE MOBILE VIEW --------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
  header .header-container .logo {
    padding-right: 0;
    padding-left: 10px;
  }

  header .header-container .button-div {
    padding-left: 0;
  }

  header .header-container .button-div #toggle_menu {
    font-size: 11px;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  header .header-container nav ul li {
    margin-bottom: 8px;
  }

  header .header-container nav ul li a {
    font-size: 24px;
  }

  header .header-container nav p {
    margin: 00px 0 0;
  }
}

@media screen and (max-width: 767px) {
  header .header-container .button-div {
    justify-content: flex-end;
  }
}
