header {
  margin-top: 28px;
  transition: all 0.3s ease-in-out;
}

header .header-container {
  padding-left: 0;
  padding-right: 0;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  background-color: #00000038;
  padding: 6px 0px;
  top: 0;
  z-index: 1;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-container .logo {
  width: 100px;
  margin-left: auto;
  padding-right: 20px;
}

header .header-container #navigation {
  width: 100%;
  height: 100vh;
}

/* header .header-container #navigation > .row {
  position: absolute;
  left: 25%;
  top: 25%;
} */

header .header-container .button-div {
  padding-left: 20px;
  height: 90%;
  display: flex;
  align-items: center;
}

header .container .menu {
  z-index: 12;
  border: 0;
  background: none;
  line-height: 0;
  color: #ffffff;
  cursor: pointer;
}

header .container .menu-close {
  position: fixed;
}

header .container .menu p {
  width: 75px;
  display: inline-block;
  font-family: "Inconsolata", monospace;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 7.42px;
  text-transform: uppercase;
  margin: 0;
}

header .container .menu div.toggle {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  padding: 0;
}

header .container .menu div.toggle span:first-of-type {
  margin-bottom: 2px;
}

header .container .menu div.toggle span {
  display: inline-block;
  position: relative;
  width: 20px;
  border-top: 2px solid #ffffff;
  transition: all 0.3s ease-in-out;
}

header .container .menu div.toggle.rotate span:nth-child(1) {
  transform: rotate(45deg);
  top: 3px;
}

header .container .menu div.toggle.rotate span:nth-child(2) {
  transform: rotate(136deg);

  top: -4px;
}

header .container nav {
  display: none;
  position: fixed;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  background-image: url(../assets/images/home-page/banner-bg.jpg);
  background-size: cover;
  z-index: 11;
}

header .container nav.d-nav {
  display: block;
}

header .header-container nav .header-base {
  position: absolute;
  top: 0;
  left: -5px;
  height: 100%;
  width: 100%;
  z-index: -1;
}

header .header-container nav .header-base .col-1 {
  border-right: 1px solid rgb(83, 82, 82);
}

header .header-container nav .col-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .header-container nav ul {
  list-style: none;
  padding-left: 0;
}

header .header-container nav ul li {
  margin-bottom: 22px;
  /* animation-name: reveal; */
  /* animation-duration: 3.5s; */
}

header .header-container nav ul li a {
  text-decoration: none;
  font-family: BigCaslon;
  font-size: 34px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

header .header-container nav ul li a:hover {
  color: #fcb542;
}

header .header-container nav ul li ul {
  display: none;
  width: calc(100vw / 7);
  margin: 15px;
}

header .header-container nav ul li ul.active {
  display: block;
  height: 200px;
  overflow: scroll;
}

header .header-container nav ul li ul li a {
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--warm-grey);
}

header .header-container nav p {
  opacity: 1;
  margin: 27px 0 0;
  padding-right: 10px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
  /* animation-name: reveal;
  animation-duration: 2.5s; */
}

header .menu-overlay {
  position: absolute;
  width: 200%;
  height: 100vh;
  background-color: #fcb542;
  top: 0;
  left: -200%;
  z-index: 12;
}

header .header-container #dropdown_link span {
  display: inline-block;
  line-height: 11px;
}

/* HOME PAGE MOBILE VIEW --------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
  header .header-container .logo {
    padding-right: 0;
    padding-left: 10px;
  }

  header .header-container .button-div {
    padding-left: 0;
  }

  header .header-container .button-div #toggle_menu {
    font-size: 11px;
  }

  header .container .menu p {
    width: auto;
  }
}

@media screen and (max-width: 850px) and (orientation: landscape) {
  header .header-container nav ul li {
    margin-bottom: 8px;
  }

  header .header-container nav ul li a {
    font-size: 24px;
  }

  header .header-container nav p {
    margin: 00px 0 0;
  }
}

@media screen and (max-width: 767px) {
  header .header-container .button-div {
    justify-content: flex-end;
  }

  header .button-div .menu p {
    display: none;
  }

  header .header-container .logo {
    width: auto;
  }

  header .header-container .logo img {
    width: 100%;
  }

  header .header-container .button-div {
    justify-content: center;
  }
}
