@import url(./header.css);

@font-face {
  font-family: BigCaslon;
  src: url(../fonts/big-caslon-medium/big-caslon-medium.woff);
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* background-color: #3d3d3d; */
}

/* colors */
:root {
  --white: rgb(255, 255, 255);
  --yellow: rgb(252, 181, 66);
  --light-grey: rgb(138, 138, 138);
  --dark-grey: rgba(0, 0, 0, 0.357);
}

/* utility classses */

.d-block {
  display: block !important;
}

/* common components */

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-title {
  margin: 0;
  font-family: "BigCaslon", serif;
  font-size: 100px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.title {
  margin: 0;
  font-family: "BigCaslon", serif;
  font-size: 50px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.small-title {
  border-left: 4px solid var(--yellow);
  padding-left: 10px;
  margin: 0;
  margin-bottom: 16px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.yellow-title {
  color: var(--yellow);
}

.services-title {
  border-left: 4px solid var(--yellow);
  padding-left: 16px;
  margin: 0;
  font-family: Poppins;
  font-size: 23px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.services-text {
  margin-left: 20px;
  margin-right: 120px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--light-grey);
}

.blog-date {
  margin: 0;
  margin-bottom: 4px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.blog-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--yellow);
}

.view-all-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  padding: 0;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: var(--yellow);
  text-decoration: none;
}

.view-all-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  padding: 0;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: left;
  color: #fcb542;
  text-decoration: none;
}

/* grid structure */

.grid-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#base-grid-container {
  background: url('../assets/home-page/banner-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.grid {
  float: left;
  width: calc((100vw - 6px) / 7);
  height: 100%;
  border-right: 1px solid rgba(141, 134, 134, 0.3);
  overflow: hidden;
  text-align: center;
}

.grid-last {
  border-right: none;
}

.grid-letters {
  display: block;
  font-size: 160px;
  position: relative;
  top: 12%;
  height: 24px;
  color: rgba(56, 56, 56, 0.3);
}

.grid-letters.row-2 {
  margin-left: -40vw;
}

.grid-letters.row-3 {
  margin-left: -80vw;
}

@media screen and (max-width: 1200px) {
  .container {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .grid-letters {
    font-size: 60px;
  }
}

/* Row Structure */

.row {
  display: flex;
  flex-wrap: wrap;
}

.row .col-1 {
  width: calc((100vw) / 7);
}

.row .col-2 {
  width: calc(((100vw) / 7)*2);
}

.row .col-3 {
  width: calc(((100vw) / 7)*3);
}
.row .col-5 {
  width: calc(((100vw) / 7)*5);
}

/* Services section */

.services-section {
  /* padding: 0 0 67px 0; */
}

.services-section #services-title-grid {
  margin-bottom: 126px;
}

.services-section #services-grid .col-2 {
  margin-bottom: 78px;
}

.services-section #services-grid .col-2 .service-div .service-icon {
  margin-left: 20px;
  margin-bottom: 18px;
}

.services-section #services-grid .col-2 .service-div .hover-arrow-div {
  text-align: right;
  visibility: hidden;
}

.services-section #services-grid .col-2 .service-div .text-div {
  transition: all 0.2s ease-in-out;
}

.services-section #services-grid .col-2 .service-div:hover .text-div {
  background-color: var(--dark-grey);
}
.services-section #services-grid .col-2 .service-div:hover .hover-arrow-div {
  visibility: visible;
}

/* Our Clients section */

.clients-section {
  padding-top: 17px;
  padding-bottom: 67px;
}

.clients-section #clients-row {
  margin-top: -70px;
}

.clients-section #clients-row .col-1 .img-div {
  height: 100px;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Blog Section */

.blogs-section {
  padding-top: 71px;
  padding-bottom: 51px;
}

.blogs-section #blogs-row {
  margin-top: 72px;
}

.blogs-section #blogs-row .blog-div {
  margin-bottom: 30px;
}

.blogs-section #blogs-row .blog-div .text-div {
  margin-top: -30px;
  margin-right: 45%;
  transition: all 0.2s ease-in-out;
}

.blogs-section #blogs-row .blog-div .text-div .hover-arrow-div {
  text-align: right;
  visibility: hidden;
}

.blogs-section #blogs-row .blog-div:hover .text-div {
  background-color: var(--dark-grey);
}

.blogs-section #blogs-row .blog-div:hover .text-div .hover-arrow-div {
  visibility: visible;
}

/* Recognition section */

.recognition-section {
  padding-top: 17px;
  padding-bottom: 83px;
}

.recognition-section #recognition-row {
  margin-top: -70px;
}

.recognition-section #recognition-row .col-1 .img-div {
  height: 100px;
  background-color: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}