@import url(./header.css);

@font-face {
  font-family: BigCaslon;
  src: url(../fonts/big-caslon-medium/big-caslon-medium.woff);
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* background-color: #3d3d3d; */
}

/* colors */
:root {
  --white: rgb(255, 255, 255);
  --yellow: rgb(252, 181, 66);
  --light-grey: rgb(138, 138, 138);
  --dark-grey: rgba(0, 0, 0, 0.357);
  --dark-grey-2: rgba(0, 0, 0, 0.2);
}

/* utility classses */

.d-block {
  display: block !important;
}

.ripple-effect canvas {
  z-index: 1 !important;
}

.img-res {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.rotate-180 {
  transform: rotate(180deg);
}

/* common components */

.container {
  /* width: 1170px; */
  width: 98vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-title {
  margin: 0;
  font-family: "BigCaslon", serif;
  font-size: 100px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.title {
  margin: 0;
  font-family: "BigCaslon", serif;
  font-size: 50px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.small-title {
  border-left: 4px solid var(--yellow);
  padding-left: 10px;
  margin: 0;
  margin-bottom: 16px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.yellow-title {
  color: var(--yellow);
}

.services-title {
  border-left: 4px solid var(--yellow);
  padding-left: 16px;
  margin: 0;
  font-family: Poppins;
  font-size: 23px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.services-text {
  margin-left: 20px;
  margin-right: 120px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--light-grey);
}

.banner-text {
  margin-right: 30%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.blog-date {
  margin: 0;
  margin-bottom: 4px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.blog-title {
  margin: 0;
  margin-bottom: 16px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--yellow);
}

.blog-div {
  text-decoration: none;
}

.contact-title {
  margin: 0;
  font-family: "BigCaslon", serif;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.view-all-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  padding: 0;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: var(--yellow);
  text-decoration: none;
}

.view-all-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  padding: 0;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: left;
  color: #fcb542;
  text-decoration: none;
}

.view-all-link::after {
  content: url(../assets/images/global/banner-arrow-right.svg);
}

.align-flex-center {
  align-items: center;
}

.v-middle {
  vertical-align: middle;
}

button[type="submit"]:hover {
  cursor: pointer;
}

button[type="submit"]:hover::before,
.view-all-link:hover::before,
.get-in-touch-link:hover::before {
  transition: 0.3s ease-in-out;
  margin-left: -10px;
  margin-right: 10px;
}

button[type="submit"]:hover::after,
.view-all-link:hover::after,
.get-in-touch-link:hover::after {
  transition: 0.3s ease-in-out;
  margin-left: 10px;
  margin-right: -10px;
}

/* grid structure */

.grid-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#base-grid-container {
  background: url("../assets/images/home-page/BG-image.png") no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.grid {
  float: left;
  width: calc((98vw - 6px) / 7);
  height: 100%;
  border-right: 1px solid rgba(141, 134, 134, 0.3);
  overflow: hidden;
  text-align: center;
}

.grid-last {
  border-right: none;
}

.grid-letters {
  display: block;
  font-family: "Bebas Neue", cursive;
  font-size: 228px;
  position: relative;
  top: 70%;
  height: 24px;
  color: #383838;
}

.grid-letters.row-2 {
  margin-left: -40vw;
}

.grid-letters.row-3 {
  margin-left: -80vw;
}

@media screen and (max-width: 1200px) {
  .container {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .grid-letters {
    font-size: 60px;
  }

  .blog-inner-page .link-div a {
    font-size: 16px;
  }
}

/* Row Structure */

.row {
  display: flex;
  flex-wrap: wrap;
}

.row .col-0 {
  width: 0px;
}
.row .col-1 {
  width: calc((98vw) / 7);
}

.row .col-2 {
  width: calc(((98vw) / 7) * 2);
}

.row .col-3 {
  width: calc(((98vw) / 7) * 3);
}

.row .col-4 {
  width: calc(((98vw) / 7) * 4);
}

.row .col-5 {
  width: calc(((98vw) / 7) * 5);
}

.row .col-6 {
  width: calc(((98vw) / 7) * 6);
}

/* LANDING PAGE ------------------------------------------------------------ */

/* banner section */

.banner-section {
  padding-bottom: 70px;
}

.banner-section .main-title {
  font-size: 64px !important;
  line-height: 1.1;
}

.banner-section .get-in-touch-link {
  margin-top: 115px;
}

.banner-section #small-img-col {
  position: relative;
}

.banner-section #small-img-col img {
  position: absolute;
  bottom: 0;
  margin-top: -50px;
}

/* ittisa section */

.ittisa-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.ittisa-section .ittisa-video {
  border: none;
}

.ittisa-section .small-img-col {
  position: relative;
}

.ittisa-section .small-img-col .small-img {
  position: absolute;
  bottom: 0;
  left: -50%;
}

.ittisa-section .text-col .title {
  font-size: 84px;
  margin-bottom: 8px;
}

.ittisa-section .text-col p {
  margin: 0;
  color: var(--white);
}

.ittisa-section .text-col .description {
  margin-bottom: 6px;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.ittisa-section .text-col .context-para {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
}

.ittisa-section .text-col .google-partner-line {
  padding: 0 15px;
  display: flex;
  align-items: center;
  background-color: var(--dark-grey);
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

.ittisa-section .text-col .google-partner-line img {
  margin: 0 15px;
}

/* impact section */
.impact-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.impact-section #impact-title-row {
  margin-bottom: 42px;
}

.impact-section #impact-title-row .title {
  font-size: 64px;
}

.impact-section .impact-row .radar-div {
  padding: 30px 0 20px 0;
  background-color: var(--dark-grey);
}

.impact-section .impact-row .impact-sub-title {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: var(--yellow);
}

.impact-row .client-growth-div {
  padding: 30px 15px 20px;
  background-color: var(--dark-grey);
}

.impact-section .impact-row .growth-list {
  padding-left: 0;
  list-style: none;
}

.impact-section .impact-row .growth-list li {
  padding: 22px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
  border-bottom: 1px dashed var(--light-grey);
  position: relative;
}

.impact-section .impact-row .growth-list li span {
  margin-left: 48px;
  margin-right: 10px;
  font-family: BigCaslon;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: center;
  color: var(--yellow);
}

.impact-section .impact-row .growth-list li::before {
  background-image: url("../assets/images/home-page/tick.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 13px;
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff25;
  width: 24px;
  height: 24px;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* brands section */

.brands .brand-list {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0px 0px 60px;
  height: 475px;
}

.brands .brand-list li {
  position: absolute;
  visibility: hidden;
  z-index: 0;
}

.brands .brand-list li.active {
  visibility: visible;
  z-index: 1;
}

.brands .brand-links {
  width: 300px;
  list-style-type: none;
  padding: 0;
  margin: 120px -38px 0px auto;
  height: 100%;
  background-image: url(../assets/images/landing-page/semi-circle.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  position: relative;
  align-items: flex-end;
}

.brands .brand-links li {
  position: absolute;
}

.brands .brand-links li:nth-child(1) {
  top: -15px;
  right: 26%;
}

.brands .brand-links li:nth-child(2) {
  top: 10px;
  right: 58%;
}

.brands .brand-links li:nth-child(3) {
  right: 83%;
  top: 85px;
}

.brands .brand-links li:nth-child(4) {
  right: 92%;
  top: 185px;
}

.brands .brand-links li:nth-child(5) {
  right: 84%;
  top: 275px;
}

.brands .brand-links li:nth-child(6) {
  right: 56%;
  top: 360px;
}
.brands .brand-links li:nth-child(7) {
  right: 22%;
  top: 384px;
}

.brands .brand-links li button {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  padding: 0;
  margin: 0;

  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.brands .brand-links li.active button,
.brands .brand-links li:hover button {
  background-color: #fcb912;
  border-radius: 12px;
  border: 6px solid #fff;
  width: 24px;
  height: 24px;
  margin-right: -4px;
}

.brands .brand-links li button img {
  position: absolute;
  top: -50px;
  left: -50px;
}

.brands .brand-links li:nth-child(2) button img {
  top: -35px;
  left: -112px;
}

.brands .brand-links li:nth-child(3) button img {
  left: -100px;
  top: -45px;
}

.brands .brand-links li:nth-child(4) button img {
  left: -110px;
  top: -31px;
}

.brands .brand-links li:nth-child(5) button img {
  left: -95px;
  top: -8px;
}

.brands .brand-links li:nth-child(6) button img {
  left: -95px;
  top: -6px;
}

.brands .brand-links li:nth-child(7) button img {
  top: 20px;
}

.brands .brand-list .brand-title {
  font-family: BigCaslon;
  font-size: 64px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #fcb542;
  margin-bottom: 21px;
}

.brands .brand-list .detail {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.brands .brand-list a.view-all-link {
  margin-bottom: 30px;
}

/* Services section */

.services-section {
  padding-top: 80px;
  padding-bottom: 50px;
}

.services-section #services-title-grid {
  margin-bottom: 56px;
}

.services-section #services-title-grid .title {
  font-size: 64px;
}

.services-section .service-div {
  padding: 30px;
  background-color: var(--dark-grey-2);
  margin-bottom: 24px;
}

.services-section .service-div .service-icon {
  height: 48px;
  margin-bottom: 12px;
}

.services-section .service-div .services-title {
  border: none;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

/* testimonial section */
.testimonials-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.testimonials-section p {
  margin: 0;
}

.testimonials-section .testimonials-title-row .title {
  font-size: 64px;
  margin-bottom: 56px;
}

.testimonials-section .testimony-div .testimony-title-div {
  margin-bottom: 8px;
  display: flex;
}

.testimonials-section .testimony-div .img-div {
  margin-right: 20px;
  padding-top: 8px;
}

.testimonials-section .testimony-div .testimony-name {
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: var(--yellow);
}

.testimonials-section .testimony-div .testimony-company {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--light-grey);
}

.testimonials-section .testimony-div .testimony-para {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

/* FAQ section */
.faq-section {
  padding-top: 50px;
  padding-bottom: 94px;
}

.faq-section #faq-row {
  margin-top: 57px;
}

.faq-section #faq-row #text-col .accordion-div .accordion-btn {
  background-color: transparent;
  color: var(--white);
  cursor: pointer;
  padding: 10px 25% 10px 0;
  width: 100%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  transition: 0.4s;
  border: none;
  border-bottom: 1px dashed var(--light-grey);
  position: relative;
}

.faq-section #faq-row #text-col .accordion-div .accordion-active,
.faq-section #faq-row #text-col .accordion-div .accordion-btn:hover {
  background-color: var(--dark-grey);
}

.faq-section #faq-row #text-col .accordion-div .accordion-btn:after {
  content: "\002B";
  color: var(--white);
  font-size: 20px;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.faq-section #faq-row #text-col .accordion-div .accordion-panel {
  padding: 0 0;
  background-color: var(--dark-grey);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq-section #faq-row #text-col .accordion-div .accordion-panel ul {
  margin-left: 0;
}

/* contact section */

.contact-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contact-section .map-div {
  height: 100%;
  background-color: var(--dark-grey);
  padding-top: 21px;
}

.contact-section .map-div img {
  margin-top: 46px;
}

.contact-section .map-div .contact-text {
  margin-top: 37px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: var(--light-grey);
}

.contact-section .form-div {
  background-color: var(--dark-grey);
  padding-top: 21px;
}

.contact-section .form-div .contact-form {
  padding: 26px;
}

.contact-section .form-div .contact-form input,
.contact-form textarea {
  margin-bottom: 25px;
  width: 100%;
  background-color: transparent;
  color: var(--light-grey);
  border: none;
  border-bottom: 1px dashed var(--light-grey);
}

.contact-section .form-div .contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

.contact-section .form-div .contact-form button {
  background-color: transparent;
  border: none;
  margin: 10px auto 0 auto;
}

/* ABOUT PAGE ------------------------------------------- */

.about-us-main-container #base-grid-container {
  background: url("../assets/images/about-us/about-us-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}

/* banner section */
.about-us-banner-section {
  padding-top: 20px;
  padding-bottom: 56px;
}

.about-us-banner-section .text-row {
  margin-top: -130px;
}

.about-us-banner-section .text-row .banner-para {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

/* team section */

.team-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-section .title {
  position: relative;
  z-index: 1;
}

.team-section .navigate-left,
.team-section .navigate-right {
  display: none;
}

.team-section .navigation-row {
  position: absolute;
  top: 25%;
  right: 0;
  text-align: right;
}

.team-section .navigation-row ul {
  padding: 40px 0 15px 0;
  background-color: var(--dark-grey);
  list-style: none;
}

.team-section .navigation-row ul .tab-link {
  margin-bottom: 25px;
  position: relative;
  padding-right: 32px;
}

.team-section .navigation-row ul .tab-link a {
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

.team-section .navigation-row ul .tab-link::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 2px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #444;
}

.team-section .navigation-row ul .tab-link:hover a {
  color: var(--white);
}

.team-section .navigation-row ul .tab-link .active {
  color: var(--white);
  position: relative;
}

.team-section .navigation-row ul .tab-link .active::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 2px;
  right: -32px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--yellow);
  z-index: 1000;
}

.team-section .navigation-row-mobile {
  display: none;
}

.team-section .navigation-row-mobile.sticky {
  position: fixed;
  z-index: 2;
  top: 0px;
  background-color: #000;
}

.team-section .navigate-left.sticky {
  position: fixed;
  z-index: 3;
  top: 15px;
}

.team-section .navigate-right.sticky {
  position: fixed;
  z-index: 3;
  top: 20px;
}

.team-section .scroll-team {
  height: 80vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.team-section .scroll-team::-webkit-scrollbar {
  width: 0;
}

.team-section .scroll-team .member-col .name-title {
  margin-top: -85px;
}

.team-section .scroll-team .member-col .name-title .small-title {
  position: relative;
}

.team-section .scroll-team .member-col-right {
  margin-top: -30px;
}

.team-section .scroll-team .member-col-left {
  margin-top: -150px;
}

.team-section .scroll-team .name-title .title .block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
}

.team-section .scroll-team .name-title .title {
  width: 50%;
  position: relative;
  display: block;
  align-items: center;
  height: 100px;
}

.team-section .scroll-team .name-title .title .content {
  opacity: 0;
  display: block;
  align-items: baseline;
  position: relative;
}

.team-section .scroll-team .name-title .title .dot {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  background: #ffb510;

  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: 25px;
}

.team-section .scroll-team .name-title .designation {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}

.team-section .scroll-team .name-title .designation .block {
  width: 0%;
  height: inherit;
  background: #ffffff;
  position: absolute;

  animation-delay: 2s;
  display: flex;
}

.team-section .scroll-team .name-title .designation .small-title {
  opacity: 0;
  color: #ffffff;
  text-transform: uppercase;
}

/* grow section */

.grow-section {
  padding-top: 56px;
  padding-bottom: 56px;
}

.grow-section .row .email-col {
  padding: 28px 0;
  background-color: var(--dark-grey);
}

.grow-section .row .email-col .small-title {
  margin-bottom: 6px;
}

/* Footer ------------------------------------------------*/
footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

footer .footer-logo {
  text-align: right;
}

footer .footer-logo img {
  margin-right: 10px;
}

footer .row p {
  margin: 0px 0px 20px 0px;
  font-size: 16px;
  line-height: 21px;
  color: #7e7e7e;
}

footer .row ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer .row ul.social-media-links li {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 15px;
}

footer .row ul li {
  margin-bottom: 16px;
}

footer .row ul li a {
  color: #7e7e7e;
  text-decoration: none;
}

footer .comment-box {
  display: inline-block;
  font-size: 15px;
  padding: 7px 16px;
  color: #ffff;
  background-color: rgba(255, 255, 255, 0.4);
}

footer .right-triangle {
  display: inline-block;
  border-top: 8px solid transparent;
  border-right: 8px solid #7f7e7f;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  vertical-align: middle;
  margin-right: -4px;
}

footer .division-social-media {
  margin-top: 40px;
}

/* LANDING PAGE MOBILE VIEW --------------------------------------------------------------- */

@media screen and (max-width: 767px) {
  /* row and cols */

  .row .col-sm-0 {
    width: 0px;
  }
  .row .col-sm-1 {
    width: calc((98vw) / 7);
  }

  .row .col-sm-2 {
    width: calc(((98vw) / 7) * 2);
  }

  .row .col-sm-3 {
    width: calc(((98vw) / 7) * 3);
  }

  .row .col-sm-4 {
    width: calc(((98vw) / 7) * 4);
  }

  .row .col-sm-5 {
    width: calc(((98vw) / 7) * 5);
  }

  .row .col-sm-6 {
    width: calc(((98vw) / 7) * 6);
  }

  /* banner sectiob */

  .main-title {
    font-size: 70px;
  }

  .title {
    font-size: 40px !important;
  }

  .contact-title {
    font-size: 32px;
  }

  .banner-text {
    margin-right: 0;
  }

  .banner-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .banner-section .get-in-touch-link {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .banner-section #small-img-col img {
    bottom: 7px;
  }

  /* ittisa section */

  .ittisa-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .ittisa-section .ittisa-video {
    height: 280px;
    margin-bottom: 24px;
  }

  .ittisa-section .small-img-col .small-img {
    width: 150%;
    left: -100%;
  }

  .ittisa-section .text-col .google-partner-line {
    font-size: 14px;
  }

  .ittisa-section .text-col .google-partner-line img {
    width: 40%;
    margin: 0px 8px;
  }

  /* impact section */
  .impact-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .impact-row .client-growth-div {
    margin-top: 20px;
    padding: 30px 5px 20px;
  }

  .impact-section .impact-row .growth-list li {
    font-size: 14px;
  }

  .impact-section .impact-row .growth-list li span {
    margin-left: 28px;
    margin-right: 4px;
    font-size: 20px;
  }

  /* brands section */

  /* services section */
  .services-section {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  /* testimonials section */
  .testimonials-section {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .testimonials-section .testimony-div {
    margin-bottom: 20px;
  }

  /* FAQ section */

  .faq-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .faq-section #faq-row #text-col {
    margin-top: 28px;
  }

  /* contact section */

  .contact-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contact-section #form-col {
    margin-top: 28px;
  }

  /* About page ------------------------------------*/

  /* banner section */
  .about-us-banner-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .about-us-banner-section .text-row {
    margin-top: 20px;
  }

  /* team section */

  .team-section {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .team-section .navigation-row {
    display: none;
  }

  .team-section .navigation-row-mobile {
    position: relative;
    display: block;
    width: 70vw;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
    text-align: center;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: #00000052;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }

  /* .team-section::before {
    content: url(../assets/images/global/banner-arrow-right.svg);
    position: absolute;
    left: 62px;
    transform: rotate(180deg);
    top: 52px;
    z-index: 1;
  }

  .team-section::after {
    content: url(../assets/images/global/banner-arrow-right.svg);
    position: absolute;
    right: 18vw;
    top: 55px;
  } */

  .team-section .navigate-left {
    display: block;
    position: absolute;
    transform: rotate(180deg);
    left: 17vw;
    top: 51px;
    z-index: 1;
  }

  .team-section .navigate-right {
    display: block;
    position: absolute;
    top: 56px;
    right: 18vw;
  }

  .team-section .navigation-links {
    width: max-content;
  }

  .team-section .navigation-row-mobile .navigation-links ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .team-section .navigation-row-mobile .navigation-links ul li {
    display: inline-block;
    width: 100vw;
    margin-left: -15vw;
    color: #fff;
    text-transform: uppercase;
  }

  .team-section .navigation-row-mobile::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .team-section .scroll-team {
    margin-top: 20px;
    height: fit-content;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .team-section .scroll-team section {
    display: inline-block;
    width: 100vw;
    vertical-align: top;
  }

  .team-section .scroll-team .team-holder {
    width: max-content;
  }

  .team-section .social-media-links .team-holder section {
    width: 100%;
  }

  .team-section .scroll-team .member-col-left {
    margin-top: 0;
    margin-bottom: 60px !important;
  }

  .team-section .scroll-team .member-col {
    margin-bottom: 30px;
  }

  .team-section .scroll-team .member-col .name-title {
    margin-top: -55px;
  }

  .team-section .scroll-team .member-col .name-title .small-title {
    margin-bottom: 8px;
    font-size: 14px;
  }

  /* grow section */

  .grow-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .grow-section .email-col {
    margin-top: 24px;
  }

  /* footer */

  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  footer .footer-logo {
    margin-bottom: 20px;
  }

  footer .partner-img-2 {
    margin-top: 20px;
  }

  footer .social-media-links {
    margin-top: 20px !important;
    margin-bottom: 40px !important;
  }

  footer .comment-box {
    padding: 5px 14px;
  }
}

/* LANDING PAGE TABLET VIEW --------------------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  /* row and cols */

  .row .col-md-0 {
    width: 0px;
  }
  .row .col-md-1 {
    width: calc((98vw) / 7);
  }

  .row .col-md-2 {
    width: calc(((98vw) / 7) * 2);
  }

  .row .col-md-3 {
    width: calc(((98vw) / 7) * 3);
  }

  .row .col-md-4 {
    width: calc(((98vw) / 7) * 4);
  }

  .row .col-md-5 {
    width: calc(((98vw) / 7) * 5);
  }

  .row .col-md-6 {
    width: calc(((98vw) / 7) * 6);
  }

  .main-title {
    font-size: 80px;
  }

  .title {
    font-size: 48px !important;
  }

  .contact-title {
    font-size: 32px;
  }

  .banner-text {
    margin: 0;
  }

  /* banner */
  .banner-section {
    padding-bottom: 40px;
  }

  .banner-section .get-in-touch-link {
    margin-top: 50px;
  }

  .banner-section #small-img-col img {
    bottom: 40px;
  }

  /* ittisa section */

  .ittisa-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .ittisa-section .ittisa-video {
    margin-bottom: 30px;
  }

  .ittisa-section .small-img-col .small-img {
    width: 200%;
    bottom: 0;
    left: -100%;
  }

  .ittisa-section .text-col .google-partner-line {
    justify-content: center;
  }

  /* impact section */

  .impact-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .impact-row .client-growth-div {
    margin-top: 28px;
  }

  /* service section */
  .services-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .services-section .service-div .services-title {
    font-size: 19px;
  }

  /* testimonials section */
  .testimonials-section {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  /* contact  */

  .contact-section .form-div {
    margin-top: 40px;
  }

  /* About page ------------------------------------*/

  /* banner section */

  .about-us-banner-section .text-row {
    margin-top: -80px;
  }

  .grow-section .email-col {
    margin-top: 32px;
  }

  /* team section */

  .team-section {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .team-section .navigation-row {
    display: none;
  }

  .team-section .scroll-team {
    /* margin-top: 20px; */
    height: fit-content;
    overflow: hidden;
  }

  .team-section .scroll-team .member-col-left {
    margin-top: -60px;
    /* margin-bottom: 60px !important; */
  }

  .team-section .scroll-team .member-col .name-title {
    margin-top: -55px;
  }

  .team-section .scroll-team .member-col .name-title .small-title {
    margin-bottom: 8px;
    font-size: 14px;
  }

  /* footer */

  footer .row p {
    margin: 0 10px 20px 0;
  }

  footer .partner-img-2 {
    margin-top: 20px;
  }

  footer .row .whatsapp-div {
    margin-bottom: 20px;
  }
}

/*----------------- Contact Us --------------------*/

.locations {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.locations li {
  margin-bottom: 50px;
}

.locations li h2 {
  font-family: BigCaslon;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #8d8d8d;
  margin-bottom: 20px;
  margin-top: 0;
}

.locations li p,
.locations li a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: var(--light-grey);
}

.locations li a {
  color: var(--yellow);
}

@media screen and (max-width: 1200px) {
  .locations li:first-of-type {
    margin-top: 50px;
  }
  .locations li p {
    line-height: 1.5;
  }

  .brands .brand-links {
    width: 100%;
    margin: 60px 0px 0px;
    height: auto;
    align-items: center;
    background: none;
    display: block;
    text-align: center;
  }

  .brands .brand-links li {
    display: inline-block;
    position: relative;
    right: 0 !important;
    top: 0 !important;
    width: 25%;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .brands .brand-links li button {
    display: inline-block;
  }

  .brands .brand-links li button img {
    position: relative;
    top: 0 !important;
    left: 0 !important;
    display: block;
    max-width: 100%;
    height: auto;
  }

  .brands .brand-links li button {
    width: auto;
    height: auto;
    background: none;
    border: none;
    box-shadow: none;
  }

  .brands .brand-links li.active button,
  .brands .brand-links li:hover button {
    width: auto;
    height: auto;
    background: none;
    border: none;
    box-shadow: none;
  }

  /* .brands {
    display: none;
  } */
}

/*----------------- /Contact Us --------------------*/

/*----------- Blog landing page --------*/

.blog-landing-page #base-grid-container {
  background: url(../assets/images/blog-landing-page/banner.jpg);
}

.blog-landing-page .section-hero {
  position: relative;
  margin: 82px 0px 64px;
}

.blog-landing-page .section-hero .badge {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}

.blog-landing-page .section-category ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blog-landing-page .blog-date {
  text-transform: uppercase;
}

.blog-landing-page .section-category ul li.select-menu-title {
  display: block;
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.blog-landing-page
  .section-category
  ul
  li.select-menu-title
  ul.select-menu-options {
  font-weight: normal;
  text-transform: capitalize;
  display: none;
  position: absolute;
  z-index: 1;
}

.blog-landing-page .open {
  display: block !important;
}

.blog-landing-page .section-category .category-tabs .category-tab-content {
  display: none;
}

.blog-landing-page .section-category .category-tabs #category_content_1 {
  display: block;
}

.blog-landing-page .section-category .dropdown-arrow {
  display: inline-block;
  vertical-align: middle;
}

.blog-landing-page .section-category .category-tabs {
  margin-top: 72px;
}

.blog-landing-page .section-category .blog-div {
  display: block;
  margin-bottom: 30px;
}

.blog-landing-page .section-category .blog-div .img-div {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.blog-landing-page .section-category .blog-div .img-div .overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--yellow);
  opacity: 0.5;
  margin-left: -100%;
}

.blog-landing-page .section-category .blog-div .text-div {
  margin-top: -30px;
  margin-right: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.blog-landing-page .section-category .blog-div .text-div .hover-arrow-div {
  text-align: right;
  visibility: hidden;
}

.blog-landing-page .section-category .blog-div:hover .img-div .overlay {
  animation: swipeRightOverlay;
  animation-duration: 1s;
  cursor: pointer;
}

.blog-landing-page .section-category .blog-div:hover .text-div {
  background-color: var(--dark-grey);
  cursor: pointer;
}

.blog-landing-page
  .section-category
  .blog-div:hover
  .text-div
  .hover-arrow-div {
  visibility: visible;
}

.blog-landing-page
  .section-category
  .blog-div:hover
  .text-div
  .hover-arrow-div
  img {
  animation-name: swingRgiht;
  animation-duration: 0.5s;
}

.blog-landing-page .section-category .link-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* medium screens */
@media screen and (max-width: 1366px) and (min-width: 1200px) {
  .blog-landing-page .section-hero .title-and-image {
    margin-top: -140px;
  }
}

/* tablets */
@media screen and (max-width: 1200px) and (min-width: 767px) {
  .blog-landing-page .section-hero .title-and-image {
    margin-top: -100px;
  }

  .blog-landing-page .section-category .blog-div .text-div {
    margin-right: 0;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .blog-landing-page .section-hero .title-and-image {
    margin-top: -50px;
    display: block;
  }

  .blog-landing-page .section-hero .main-title {
    margin-bottom: 30px;
  }

  .blog-landing-page .section-hero .badge {
    width: 100px;
    transform: none;
    top: 0;
    right: 12%;
    left: unset;
    z-index: -1;
  }

  header .container .menu p {
    display: none;
  }

  .team-section .scroll-team .name-title .title .dot {
    right: -10px;
  }

  .brands .brand-list {
    margin: 0px 0px 20px 0px;
  }

  .brands .brand-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }

  .brands .brand-links li {
    width: 23%;
    border: 1px solid transparent;
    margin: 0px 0px 15px 0px;
    padding: 10px;
  }

  .brands .brand-links li.active {
    border: 1px solid #fbb542;
  }
}

/*----------- /Blog landing page --------*/

/*----------- Blog inner page --------*/

.blog-inner-page #base-grid-container {
  background: url(../assets/images/blog-inner-page/banner.jpg);
}
.blog-inner-page .link-div {
  margin-bottom: 60px;
}
.blog-inner-page .link-div .prev {
  justify-content: flex-start;
}

.blog-inner-page .link-div .prev::before {
  content: url(../assets/images/global/banner-arrow-right.svg);
  transform: rotate(180deg);
}

.blog-inner-page .link-div .prev::after {
  content: "";
}

.blog-inner-page .pagination {
  margin-bottom: 0px !important;
}

.blog-inner-page .link-div .next {
  justify-content: flex-end;
}

.blog-header {
  margin-top: 80px;
}

.blog-header-content .date {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  margin: 0px 0px 10px;
}

.blog-header-content .blog-title {
  font-family: BigCaslon;
  font-size: 50px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fcb542;
  margin-bottom: 32px;
}

.blog-header-content .blog-title span {
  color: #ffffff;
}

.blog-header-content .pagelinks {
  margin: 0px 0px 32px;
  padding: 0;
  list-style-type: none;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  resize: horizontal;
  color: #fff;
}

.blog-header-content .pagelinks li {
  display: inline-block;
}

.blog-header-content .pagelinks li::after {
  content: ">>";
  color: var(--yellow);
  padding: 0px 5px 0px;
}

.blog-header-content .pagelinks li a {
  text-decoration: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.blog-body {
  margin-top: 60px;
}

.blog-body p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #bababa;
  margin-bottom: 30px;
}

.blog-body h3 {
  font-size: 23px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #fcb542;
  margin-bottom: 10px;
}

.blog-body h2 {
  font-family: BigCaslon;
  font-size: 50px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fcb542;
  margin-bottom: 30px;
}

.blog-body h2 span {
  color: #ffffff;
}

.blog-body ul {
  margin: 0px 0px 30px;
  padding: 0;
  list-style-type: none;
}

.blog-body ul li {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #bababa;
}

.blog-body ul li:before {
  content: "\2022";
  color: var(--yellow);
  width: 16px;
  display: inline-block;
}

.blog-footer {
  margin-top: 60px;
}

.blog-footer .form {
  padding: 20px 0px 30px;
  background-color: rgba(5, 5, 5, 0.5);
  margin-bottom: 60px;
}

.blog-footer .form h3 {
  font-family: BigCaslon;
  font-size: 40px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #fcb542;
  margin-bottom: 10px;
}

.blog-footer .form h3 span {
  color: #ffffff;
}

.blog-footer .form p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #bababa;
  margin-bottom: 45px;
}

.blog-footer form {
  padding: 0px 25px 0px;
}

.blog-footer form .input-elm {
  display: block;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px dashed #bababa;
  margin-bottom: 25px;
  padding-bottom: 15px;
  color: #ffffff;
}

.blog-footer form .button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-footer form .button-div button {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
}

.blog-footer .pagination {
  margin: 60px 0px;
}

.blog-footer .pagination .link-div {
  margin-bottom: 30px;
}

.blog-footer .pagination .view-all-link.prev::after {
  content: "";
}

.blog-footer .pagination .view-all-link.prev::before {
  content: url(../assets/images/global/banner-arrow-right.svg);
  transform: rotate(180deg);
}

.blog-footer .pagination .view-all-link.next {
  justify-content: flex-end;
}

.blog-footer .pagination .blog-div {
  margin-bottom: 30px;
}

.blog-footer .pagination .blog-div .img-div {
  position: relative;
  overflow: hidden;
}

.blog-footer .pagination .blog-div .img-div .overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--yellow);
  opacity: 0.5;
  margin-left: -100%;
}

.blog-footer .pagination .blog-div .text-div {
  margin-top: -30px;
  margin-right: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.blog-footer .pagination .blog-div .text-div .hover-arrow-div {
  text-align: right;
  visibility: hidden;
}

.blog-footer .pagination .blog-div:hover .img-div .overlay {
  animation: swipeRightOverlay;
  animation-duration: 1s;
}

.blog-footer .pagination .blog-div:hover .text-div {
  background-color: var(--dark-grey);
}

.blog-footer .pagination .blog-div:hover .text-div .hover-arrow-div {
  visibility: visible;
}

.blog-footer .pagination .blog-div:hover .text-div .hover-arrow-div img {
  animation-name: swingRgiht;
  animation-duration: 0.5s;
}
/*----------- /Blog inner page --------*/
