/*
    Fonts:
        Bebas Nueue: regular
        Inconsolata: regular
        Poppings: regular=400, semi-bold=600, bold=700
        BigCaslon: medium
*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Poppins:wght@400;600;700&display=swap");

@font-face {
  font-family: BigCaslon;
  src: url(../fonts/big-caslon-medium/big-caslon-medium.woff);
}

/* default font and size */
html,
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  scroll-behavior: smooth;
}

.main-title {
  margin: 0;
  font-family: "BigCaslon", serif;
  font-size: 6.25rem; /* 100px */
  font-weight: 500; /* medium */
  font-stretch: normal;
  font-style: normal;
  line-height: 5rem; /* 80px */
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.main-title span {
  color: var(--yellow);
}

.small-title {
  border-left: 4px solid var(--yellow);
  padding-left: 10px;
  margin: 0;
  margin-bottom: 1rem;
  font-family: Poppins;
  font-size: 1.125rem; /* 18px */
  font-weight: 600; /* semi bold */
  font-stretch: normal;
  font-style: normal;
  line-height: 1.375rem; /* 22px */
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.grey-text {
  font-family: Poppins;
  font-size: 1rem; /* 16px */
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5rem; /* 24px */
  letter-spacing: normal;
  text-align: left;
  color: var(--grey);
}

.services-title {
  border-left: 4px solid var(--yellow);
  padding-left: 1rem; /* 16px;*/
  margin: 0;
  font-family: Poppins;
  font-size: 1.375rem; /* 22px; */
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2rem; /* 32px */
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.title {
  margin: 0;
  font-family: "BigCaslon", serif;
  font-size: 3.125rem; /* 50px; */
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.125rem; /* 50px */
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}

.yellow-title {
  color: var(--yellow);
}

/* media query for mobile devices */
@media screen and (max-width: 767px) {
  .main-title {
    font-size: 3.125rem; /* 50px */
    line-height: 2.5rem; /* 40px */
  }

  .title {
    font-size: 1.75rem; /* 28px */
    line-height: 1.875rem; /* 30px */
  }

  .small-title {
    font-size: 0.875rem; /* 14px */
    margin-bottom: 13px;
  }

  .services-title {
    font-size: 1.125rem; /* 18px */
    margin-bottom: 6px;
  }

  .contact-title {
    font-size: 2rem; /* 32px */
  }
}

/* media query for tablets */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main-title {
    font-size: 80px;
  }

  .title {
    font-size: 32px;
  }

  .contact-title {
    font-size: 32px;
  }
}
